* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main-menu {
  border: 2px solid black;
  border-radius: 25px;
  font-size: 2em;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.main-menu:hover {
  background-color: #f9f9f9;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-top: 10px;
  z-index: 1;
  padding: 10px;
}

.dropdown-content img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 8px;
  margin: 2px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

header {
  display: flex;
  top: 0;
  height: 10vh;
  width: 100%;
  background-color: rgb(244, 148, 108);
  justify-content: space-between;
  box-shadow: 0px 0px 5px 5px black;
  margin-bottom: 2px;
}
.fa-bars {
  align-self: center;
  font-size: 30px;
  padding-left: 30px;
}

.logo {
  font-size: 2.3em;
  color: rgb(0, 0, 0);
  font-style: italic;
  align-self: center;
  text-decoration: underline;
  text-decoration-thickness: 6px;
}
.fa-shopping-cart {
  align-self: center;
  font-size: 30px;
  padding-right: 30px;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

.navigation li {
  display: inline-block;
  margin-right: 20px;
  color: white;
}

.navigation a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.navigation.show {
  background-color: rgb(244, 148, 108);
  box-shadow: 0px 0px 5px 5px black;
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 90px;
  z-index: 2;
}

#shopping-cart-dropdown {
  display: none;
  position: absolute;
  top: 90px;
  right: 0;
  background-color: rgb(244, 148, 108);
  box-shadow: 0px 0px 5px 5px black;
  z-index: 2;
}

#shopping-cart-dropdown.show {
  display: flex;
  flex-direction: column;
}
.fa-shopping-cart-container {
  align-self: center;
}
.order {
  justify-content: center;
  background-color: #67d96998;
}
.cancel-order {
  justify-content: center;
  background-color: #ea8080e9;
}


.small-img{
  width: 100px;
}
.recommended-container{
  border-bottom: solid 2px black;
  margin: 20px;
  padding-bottom: 10px;
}

.recommended-js{
  display: flex;
  flex-direction: row;
}

.Rubrik-recommendation{
  margin: 20px;
}

.recommended-info{
  margin-left: 5px;
}

section {
  margin: 1em;
  padding: 1em;
  border: 1px solid #ddd;
}
li {
  display: flex;
}
.order-confirmation {
  position: absolute;
  top: 80px;
  background-color: rgb(244, 148, 108);
  box-shadow: 0px 0px 5px 5px black;
  z-index: 2;
  right: 0;
}

